.signup-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.card {
    width:350px;
    margin-bottom: 10px;
}

.card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.card button {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;

}


